

     div {
       text-align: center;
        font-size: 35px;
        font-family: bureau-grot, sans-serif;
        font-weight: 700;
        font-style: normal;
        border: solid black 4px; 
      }
     
  body {
  font-family: bureau-grot, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 35px;
  }
a { color: black; }


a:hover {
  color: lightyellow;
  transition: .5s;
}

h2:hover {
color: white;
transition: .5s;
}

h3:hover {
color: white;
transition: .5s;
}


  .grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 5px 5px;
    background-color: black;
    border: solid black 5px;
  }

  .image1 {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
  .image1 {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}

  .grid-item-1 {
    background-color: #d2232a;
  }
  img {
    filter: blur(10px);
  }
  
  img:hover {
  filter: blur(0px);
  transition: .5s;

  }

  .grid-item-2 {
    grid-column-start: 2;
    grid-column-end: 5;
    background-color: #26408d;
  }

  .grid-item-3 {
    background-color: white;
  }     
  .grid-item-3:hover{
    background-color: #25408f;
    transition: .5s;
  }

  .grid-item-4 {
    grid-column-start: 2;
    grid-column-end: 5;
    background-color: white;
  } 

   .grid-item-4:hover {
    background-color: #d3242a;
    transition: .5s;
  }

  .grid-item-5 {
    background-color: white;
  }
   .grid-item-5:hover {
    background-color: #dcb127;
    transition: .5s;
  }

  .grid-item-6 {
    grid-column-start: 2;
    grid-column-end: 5;
    background-color: #dcb127;
  } 
      

      #container{
        display: grid;
        grid-template-columns: 400px 150px 200px 150px;
        grid-template-rows: 150px 100px 100px 150px 100px;
        width: 1366px;
        height: 768px;
      }

      