   body {
font-family: bureau-grot, sans-serif;
font-weight: 700;
font-style: normal;
}

   div {
       text-align: center;
        font-size: 35px;
        font-family: bureau-grot, sans-serif;
        font-weight: 700;
        font-style: normal;
        border: solid black 4px; 
      }

      a { color: black; }

      a:hover {
          color: lightyellow;
              }
      
          #container{
        display: grid;
        grid-template-columns: 400px 150px 200px 150px;
        grid-template-rows: 150px 100px 100px 150px 100px;
        width: 1366px;
        height: 768px;
    }

    body:hover {
      background-color: lightyellow;
    }
h1 {
  font-size: 35px;
  font-family: bureau-grot, sans-serif;
  text-align: center;
  color: #26408d;
}
h1:hover {
  transition: 1s;
  font-size: 100px;
}
h2 {
  font-size: 35px;
  font-family: bureau-grot, sans-serif;
  text-align: center;
  color: #d3242a;
}
h2:hover {
  transition: 1s;
  font-size: 100px;
}
h3 {
  text-align: center;
}
h4 {
  text-align: center;
}
h3:hover {
font-family: bureau-grot, sans-serif;
color: #26408d;
transition: 2s;
font-size: 50px;   /*color: white;*/
}

h4:hover {
  font-family: bureau-grot, sans-serif;
    color: #d3242a;
    font-size: 50px;
    transition: 2s;
}